*{
  padding: 0;
  margin: 0;
} 
.sections{
  display: flex;
}

.half-width{
  width: 48%;
  padding: 2%;
}
.half-width img{
  width: 80%;
}
h1{
  font-size: 88.4px;
  text-transform: capitalize;
}
.diet-text{
  font-size: 30.5px;
  margin-bottom: 30px;
}
.text-color{
  color: #FFA552;
}
.order-btn{
  background-color: #FBA24F;
  padding: 15px 30px;
  text-decoration:none;
  color: white;
  text-transform: capitalize;
  border-radius: 30px;
  margin-top: 120px;
}
.about-section{
  background-image: url(./images/shapes/7.png);
  background-repeat: no-repeat;
  background-position: left;
  background-color: #FAE1CA;
}
.about-img{
  width: 400px;
  height: 500px;
}
.recipie, .social-media{
  margin: 0px 300px 0 300px;
}
.recipie-heading{
  text-align: center;
}
.recipies p{
  text-align: center;
  font-size: 18px;
  text-align: justify;
}
.recipies-card{
 box-shadow: 10px 10px 40px; 
 margin-left: 10px;
 border-radius: 10px;
}
.recipies-card img {
  width: 100%;
}
.social-media{
margin-top: 150px;
justify-content: space-evenly;
background-color: lightgray;
padding: 50px;
border-radius: 15px;
}
footer{
  text-align: center;
  color: white;
  margin-top: 50px;
  background-color: black;
  padding: 30px;
}